FIREBASE_API_KEY=replace-with-your-api-key\nFIREBASE_AUTH_DOMAIN=replace-with-your-auth-domain\nFIREBASE_PROJECT_ID=replace-with-your-project-id\nFIREBASE_STORAGE_BUCKET=replace-with-your-storage-bucket\nFIREBASE_MESSAGING_SENDER_ID=replace-with-your-messaging-sender-id\nFIREBASE_APP_ID=replace-with-your-app-id\nFIREBASE_MEASUREMENT_ID=replace-with-your-measurement-id\n
